.o_stockpicking_dashboard {
    flex: 1 0 100%;
    padding: 10px 10px 18px 10px;

    background-color: $o-view-background-color;
    position: relative;
    max-width:100%;

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .o_dashboard_action {
        cursor: pointer;
    }

    .table {
        margin-bottom: 0;
        table-layout: fixed;
        border-spacing: 12px 5px;
        border-collapse: separate;
        font-size: 15px;
        width: 100%;
        height: max-content;

        > thead, tbody {
            & > tr > td {
                text-align: center;
                width: calc(100%/7);
                height: 50px;
                vertical-align: middle;
                border-top: 1px solid $o-view-background-color;
                background-color: $o-brand-lightsecondary;
                font-weight: bold;
                word-wrap: break-word;

                &.o_text{
                    background-color: $o-view-background-color;
                }

                > a:hover {
                    text-decoration: none;
                }

                &.o_main {
                    background-color: $o-brand-primary;
                    &:hover {
                        background-color: darken($o-brand-primary, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
            }
        }
    }
}

